.about__wrapper {
  padding: 50px 0;
  width: $container-mobile;

  @media (min-width: $vp-tablet) {
    width: $container-tablet;
  }

  @media (min-width: $vp-desktop) {
    padding: 60px 0;
    width: $container-desktop;
  }
}

.about__inner {
  &:not(:last-of-type) {
    margin-bottom: 40px;
  }

  &--round {
    border-radius: 20px;
  }

  &--bg {
    background-color: $color-bg-secondary;
  }

  @media (min-width: $vp-tablet) {
    &:not(:last-of-type) {
    margin-bottom: 60px;
    }
  }

  @media (min-width: $vp-desktop) {
    &:first-of-type {
      display: grid;
      grid-template-columns: 702px auto;
      column-gap: 40px;
      row-gap: 40px;
    }
  }
}

.about__content {
  margin-bottom: 40px;

  h3 {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: $color-text-tertiary;
    margin: 0 0 20px;
  }

  p {
    margin: 0;
  }

  &:last-of-type {
    margin-bottom: 30px;
  }

  @media (min-width: $vp-tablet) {
    h3 {
      font-size: 28px;
      line-height: 28px;
      margin-bottom: 30px;
    }

    p {
      font-size: 16px;
      line-height: 20px;
      max-width: 500px;
    }

    @media (min-width: $vp-desktop) {
      display: grid;
      grid-template-rows: auto 1fr;
      row-gap: 30px;
      padding: 10px 0;
      margin: 0;
      
      h3 {
        font-size: 32px;
        line-height: 36px;
        margin-bottom: 10px;
      }

      p {
        line-height: 26px;
      }
    }
  }
}

.about__title {
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 14px;

  @media (min-width: $vp-tablet) {
    font-size: 34px;
    line-height: 50px;
    margin-bottom: 30px;
  }

  @media (min-width: $vp-desktop) {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 0;
  }
}

.about__title + p {
  font-size: 16px;
  line-height: 22px;
  margin: 0;

  @media (min-width: $vp-tablet) {
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $vp-desktop) {
    font-size: 22px;
    line-height: 32px;
    max-width: 100%;
  }
}

.about__button {
  padding: 5px 4px 3px 20px;
  
  @media (min-width: $vp-desktop) {
    grid-column: 2/3;
  }
}

.about__list {
  display: grid;
  row-gap: 22px;
  padding: 42px 20px 40px;

  @media (min-width: $vp-tablet) {
    grid-template-columns: repeat(2, auto);
    column-gap: 52px;
    row-gap: 54px;
    padding: 72px 50px 50px 70px;
  }

  @media (min-width: $vp-desktop) {
    grid-template-columns: repeat(2, 484px);
    padding: 72px 100px 50px 120px;
  }
}

.about__item {
  position: relative;
  color: $color-white;
  display: grid;
  grid-template-rows: min-content;
  row-gap: 15px;
  padding: 15px 21px 15px 20px;
  border: 1px solid $color-white;

  h3 {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.16px;
    margin: 0;
  }

  p {
    font-size: 14px;
    font-weight: 300;
    margin: 0;
  }

  &::before {
    @include flex(center, center);

    content: "";
    position: absolute;
    top: -23px;
    left: -21px;
    width: 42px;
    height: 42px;
    background-color: $color-bg-secondary;
    background-image: url("/__spritemap#sprite-star-view");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 22px;
  }

  @media (min-width: $vp-tablet) {
    padding: 16px 21px;

    h3 {
      font-size: 20px;
      line-height: 22px;
      letter-spacing: 0.2px;
    }

    p {
      font-size: 16px;
    }
  }

  @media (min-width: $vp-desktop) {
    grid-template-columns: repeat(2, 201px);
    padding: 31px 41px;
    align-items: center;

    h3 {
      font-size: 26px;
      line-height: 30px;
      letter-spacing: 0.26px;
    }
  }
}

.about__item--members {
  br {
    display: none;
  }

  @media (min-width: $vp-tablet) {
    br {
      display: inline;
    }
  }
}