.button {
  @include flex(center, center);

  column-gap: 20px;
  padding: 5px 5px 5px 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &--primary {
    border: 1px solid $color-button-primary;
    border-radius: 30px;
  }

  @media (min-width: $vp-tablet) {
    column-gap: 30px;
    padding-left: 30px;
  }
}

.button__text {
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  color: $color-button-primary;
  text-transform: uppercase;
  letter-spacing: 0.24px;

  @media (min-width: $vp-tablet) {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.28px;
  }
}

.button__icon {
  @include flex(center, center);

  width: 34px;
  height: 34px;
  background-color: $color-button-primary;
  border-radius: 50%;

  @media (min-width: $vp-tablet) {
    width: 46px;
    height: 46px;
  }
}
