.contacts {
  color: $color-white;
  padding: 70px 0;
  background-color: $color-bg-secondary;

  @media (min-width: $vp-tablet) {
    padding: 100px 0;
  }
}

.contacts__wrapper {
  width: $container-mobile;

  @media (min-width: $vp-tablet) {
    width: $container-tablet;
  }
}

.contacts__inner {
  position: relative;

  &::after {
    content: "";
    position: relative;
    display: flex;
    bottom: -30px;
    width: 100%;
    height: 2px;
    margin-bottom: 62px;
    background-color: $color-white;
    opacity: 0.2;
  }
}

.contacts__title {
  font-size: 20px;
  line-height: 20px;
  color: $color-white;
  padding: 5px 0;
  margin-bottom: 30px;

  @media (min-width: $vp-tablet) {
    font-size: 34px;
    line-height: 50px;
  }
}

.contacts__list {
  display: grid;
  row-gap: 20px;

  @media (min-width: $vp-tablet) {
    grid-auto-flow: column;
    grid-template-columns: auto;
    justify-content: space-between;
  }
}

.contacts__item {
  display: grid;
  row-gap: 15px;
}

.contacts__item-title {
  font-size: 12px;
  line-height: 12px;
  font-style: normal;
  color: $color-text-secondary;
  text-transform: uppercase;
  letter-spacing: 0.12px;
  margin: 0;
}

.contacts__item-desc {
  font-style: normal;
  margin: 0;
}

.contacts__img {
  border-radius: 16px;
}