.faq {
  padding: 50px 0;
}

.faq__wrapper {
  width: $container-mobile;

  @media (min-width: $vp-tablet) {
    width: $container-tablet;    
  }
}

.faq__title {
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 30px;

  @media (min-width: $vp-tablet) {
    font-size: 34px;
    line-height: 50px;
    margin-bottom: 40px;
  }
}

.faq__list {
  @include flex(flex-start, flex-start, column);

  gap: 10px;
}

.faq__item {
  @include flex(flex-start, flex-start, column);

  padding: 22px 17px;
  width: 100%;
  border: 2px solid $color-bg-secondary;
  border-radius: 14px;

  &:has(.faq__button--active) {
    color: $color-white;
    gap: 20px;
    background-color: $color-bg-secondary;
  }

  @media (min-width: $vp-tablet) {
    padding: 32px
  }
}

.faq__question {
  @include flex(space-between, center);

  width: 100%;
}

.faq__question-title {
  font-size: 16px;
  line-height: 18px;

  br {
    display: none;
  }

  &:has(+.faq__button--active) {
    color: $color-white;
  }

  @media (min-width: $vp-tablet) {
    font-size: 22px;
    line-height: 26px;

    br {
      display: inline;
    }
  }
}

.faq__button {
  position: relative;
  padding: 8px;
  cursor: pointer;

  @include flex(center, center);

  width: 40px;
  height: 40px;
  border: 1px solid $color-bg-secondary;
  background-color: $color-bg-secondary;

  &::after,
  &::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 1px;
    background-color: $color-white;
  }

  &::before {
    transform: rotate(90deg);
  }
}

.faq__button--active {
  border: 1px solid $color-white;
  background-color: $color-white;

  &::after,
  &::before {
    background-color: $color-bg-secondary;
  }

  &::before {
    transform: rotate(0deg);
  }
}

.faq__answer {
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, max-height 0.3s ease;
  opacity: 0;

  p {
    margin: 0;
  }

  br {
    display: none;
  }

  &--active {
    opacity: 1;
  }

  @media (min-width: $vp-tablet) {
    font-size: 16px;

    br {
      display: inline;
    }
  }
}