.footer {
  padding: 40px 0;

  @media (min-width: $vp-desktop) {
    padding: 60px 0 40px;
  }
}

.footer__wrapper {
  width: $container-mobile;

  @media (min-width: $vp-tablet) {
    @include flex(space-between, center);

    row-gap: 25px;
    flex-wrap: wrap;
    width: $container-tablet;
  }

  @media (min-width: $vp-desktop) {
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 52px;
    row-gap: 25px;
    align-items: center;
    width: $container-desktop;
  }
}

.footer__logo {
  margin-bottom: 20px;

  @media (min-width: $vp-tablet) {
    margin: 0;
  }
}

.footer__nav-list {
  @include flex(center, center);

  column-gap: 30px;
  row-gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 20px;

  @media (min-width: $vp-tablet) {
    justify-content: flex-end;
    column-gap: 15px;
    row-gap: 15px;
    margin: 0;
  }

  @media (min-width: $vp-desktop) {
    justify-content: flex-start;
  }
}

.footer__nav-link {
  @media (min-width: $vp-desktop) {
    font-size: 16px;
    line-height: 26px;
  }
}

.footer__copyright {
  @include flex(center, center, column);

  row-gap: 13px;
  margin-bottom: 15px;

  @media (min-width: $vp-tablet) {
    align-items: flex-start;
    row-gap: 15px;
    margin-bottom: 0;
  }

  @media (min-width: $vp-desktop) {
    flex-direction: row-reverse;
    justify-content: space-between;
    grid-column: 1/-1;
  }
}

.footer__copyright-link {
  position: relative;
  font-size: 12px;
  line-height: 14px;

  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $color-text-primary;
  }

  @media (min-width: $vp-desktop) {
    font-size: 14px;
    line-height: 18px;
  }
}

.footer__copyright-desc {
  font-size: 12px;
  line-height: 14px;
  opacity: 0.6;
  margin: 0;

  @media (min-width: $vp-desktop) {
    font-size: 14px;
    line-height: 18px;
  }
}

.footer__social-list {
  @include flex(center, center);

  gap: 10px;
  flex-wrap: wrap;

  @media (min-width: $vp-desktop) {
    grid-column: 3/4;
    grid-row: 1/2;
  }
}

.footer__social-item {
  @include flex(center, center);
}

.footer__social-link {
  @include flex(center, center);

  position: relative;
  width: 26px;
  height: 26px;
  background-color: $color-bg-secondary;
  border-radius: 50%;

  &::after {
    @include flex(center, center);

    content: "";
    width: 100%;
    height: 100%;
    background-color: $color-white;
    mask-position: center;
    mask-repeat: no-repeat;
  }

  &--vk {
    &::after {
      mask-image: url("/__spritemap#sprite-social-vk-view");
      mask-size: 12px 7px;
    }
  }

  &--ok {
    &::after {
      mask-image: url("/__spritemap#sprite-social-ok-view");
      mask-size: 7px 12px;
    }
  }

  &--reddit {
    &::after {
      mask-image: url("/__spritemap#sprite-social-reddit-view");
      mask-size: 11px;
    }
  }

  @media (min-width: $vp-tablet) {
    width: 36px;
    height: 36px;
  }
}
