.grant {
  color: $color-white;
  padding: 70px 0;
  background-color: $color-bg-secondary;

  @media (min-width: $vp-tablet) {
    padding: 100px 0;
  }

  @media (min-width: $vp-desktop) {
    padding: 120px 0;
  }
}

.grant__wrapper {
  width: $container-mobile;

  @media (min-width: $vp-tablet) {
    width: $container-tablet;
  }

  @media (min-width: $vp-desktop) {
    display: grid;
    grid-template-columns: repeat(2, 498px);
    justify-content: space-between;
    width: $container-desktop;
  }
}

.grant__title {
  font-size: 20px;
  color: $color-white;
  margin-bottom: 15px;

  @media (min-width: $vp-tablet) {
    font-size: 34px;
    line-height: 50px;
    margin-bottom: 30px;
  }

  @media (min-width: $vp-desktop) {
    font-size: 50px;
  }
}

.grant__inner {
  position: relative;

  p {
    margin: 0 0 30px;
  }

  h3 {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    margin: 0 0 25px;
  }

  &:first-of-type {
    &::after {
      content: "";
      position: relative;
      display: flex;
      width: 290px;
      height: 200px;
      margin-bottom: 30px;
      background-image:
        image-set(
          url("../../img/grant/grant-mobile@2x.webp") type("image/webp") 2x,
          url("../../img/grant/grant-mobile@1x.webp") type("image/webp") 1x,
          url("../../img/grant/grant-mobile@2x.png") type("image/png") 2x,
          url("../../img/grant/grant-mobile@1x.png") type("image/png") 1x
        );
    }
  }

  @media (min-width: $vp-tablet) {
    p {
      margin-bottom: 40px;
      max-width: 500px;
    }

    h3 {
      font-size: 28px;
      line-height: 28px;
      margin-bottom: 35px;
    }

    &:first-of-type {
      &::after {
        width: 678px;
        height: 375px;
        margin-bottom: 40px;
        background-image:
          image-set(
            url("../../img/grant/grant-tablet@2x.webp") type("image/webp") 2x,
            url("../../img/grant/grant-tablet@1x.webp") type("image/webp") 1x,
            url("../../img/grant/grant-tablet@2x.png") type("image/png") 2x,
            url("../../img/grant/grant-tablet@1x.png") type("image/png") 1x
          );
      }
    }
  }

  @media (min-width: $vp-desktop) {
    p {
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 40px;
    }

    h3 {
      font-size: 32px;
      line-height: 36px;
      padding: 10px;
    }

    &:first-of-type {
      &::after {
        width: 498px;
        height: 363px;
        margin-bottom: 40px;
        background-image:
          image-set(
            url("../../img/grant/grant-desktop@2x.webp") type("image/webp") 2x,
            url("../../img/grant/grant-desktop@1x.webp") type("image/webp") 1x,
            url("../../img/grant/grant-desktop@2x.png") type("image/png") 2x,
            url("../../img/grant/grant-desktop@1x.png") type("image/png") 1x
          );
      }
    }
  }
}

.grant__list {
  display: grid;
  row-gap: 15px;
  counter-reset: grant 0;

  @media (min-width: $vp-tablet) {
    grid-template-columns: repeat(2, 305px);
    column-gap: 48px;
    row-gap: 25px;
    padding-left: 20px;
  }

  @media (min-width: $vp-desktop) {
    grid-template-columns: auto;
    row-gap: 23px;
  }
}

.grant__item {
  position: relative;
  padding: 25px 26px;
  border: 1px solid $color-white;
  counter-increment: grant 1;

  br {
    display: none;
  }

  &::before {
    @include flex(center, center);

    content: counter(grant);
    position: absolute;
    top: -10px;
    left: -14px;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    width: 28px;
    height: 32px;
    background-color: $color-bg-secondary;
    border-radius: 20px;
  }

  @media (min-width: $vp-tablet) {
    padding: 29px 26px;

    br {
      display: inline;
    }
  }

  @media (min-width: $vp-desktop) {
    font-size: 16px;
    line-height: 26px;

    br {
      display: none;
    }
  }
}
