.icon {
  @include flex(center, center);
  position: relative;
}

.icon--about-large {
  &::after {
    content: "";
    width: 8px;
    height: 8px;
    mask-image: url("/__spritemap#sprite-about-large-view");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 8px;
    background-color: $color-white;
  }
}