@mixin list-reset {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

@mixin flex($justify-content, $align-items, $flex-direction: row) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}