// viewport and container

$vp-mobile: 320px;
$vp-tablet: 768px;
$vp-desktop: 1440px;
$container-mobile: 290px;
$container-tablet: 678px;
$container-desktop: 1240px;

// colors

$color-white: #ffffff;

// text color

$color-text-primary: #484848;
$color-text-secondary: #f0efe9;
$color-text-tertiary: #316dc2;

// button color

$color-button-primary: #316dc2;
$color-button-active: #275699;
$color-button-disabled: #a9afb7;

// background color

$color-bg-primary: #f0efe9;
$color-bg-secondary: #316dc2;

// icon color

$color-icon-primary: #316dc2;

// form color

$color-form-primary: #484848;
$color-form-error: #ff5e66;
$color-form-disabled: #a9afb7;

// overlays

$overlay-primary: rgba(49, 109, 194, 0.2);
$overlay-secondary: rgba(13, 29, 51, 0.4);

